<div class="container mt-4">
  <h1>Admin Dashboard</h1>
  
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p class="card-text">Total: <%= @user_count %></p>
          <%= link_to 'Manage Users', admin_users_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Topics</h5>
          <p class="card-text">Total: <%= Topic.count %></p>
          <%= link_to 'Manage Topics', admin_topics_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">News Sources</h5>
          <p class="card-text">Total: <%= @source_count %></p>
          <%= link_to 'Manage Sources', admin_news_sources_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Email Metrics</h5>
          <p class="card-text">Total Emails Sent: <%= @email_metrics.count %></p>
          <%= link_to 'View Email Metrics', admin_email_metrics_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>