<%= form_with(model: [:admin, source], local: true) do |form| %>
  <% if source.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this news source from being saved:</h2>
      <ul>
        <% source.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :format %>
    <%= form.select :format, ['api', 'rss', 'scraper'], {}, class: 'form-control' %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :active, class: 'form-check-input' %>
    <%= form.label :active, class: 'form-check-label' %>
  </div>

  <div class="form-group">
    <%= form.label :settings %>
    <%= form.text_area :settings, value: source.settings.to_json, class: 'form-control' %>
    <small class="form-text text-muted">Enter settings as JSON</small>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>