<h1>Content Sources</h1>

<%= link_to 'Add New Source', new_admin_source_path, class: 'btn btn-primary' %>

<table class="table mt-4">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>URL</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.name %></td>
        <td><%= source.source_type.capitalize %></td>
        <td><%= source.url %></td>
        <td><%= source.active? ? 'Active' : 'Inactive' %></td>
        <td>
          <%= link_to 'View', admin_source_path(source), class: 'btn btn-sm btn-info' %>
          <%= link_to 'Edit', edit_admin_source_path(source), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete', admin_source_path(source), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 