<h1><%= @source.name %></h1>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Source Details</h5>
    
    <dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9"><%= @source.name %></dd>
      
      <dt class="col-sm-3">Type:</dt>
      <dd class="col-sm-9"><%= @source.source_type.capitalize %></dd>
      
      <dt class="col-sm-3">URL:</dt>
      <dd class="col-sm-9"><%= @source.url %></dd>
      
      <dt class="col-sm-3">Status:</dt>
      <dd class="col-sm-9"><%= @source.active? ? 'Active' : 'Inactive' %></dd>
      
      <% if @source.source_type == 'scrape' && @source.selectors.present? %>
        <dt class="col-sm-3">Selectors:</dt>
        <dd class="col-sm-9">
          <ul>
            <% @source.selectors.each do |key, value| %>
              <li><strong><%= key %>:</strong> <%= value %></li>
            <% end %>
          </ul>
        </dd>
      <% end %>
    </dl>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_admin_source_path(@source), class: 'btn btn-warning' %>
    <%= link_to 'Back', admin_sources_path, class: 'btn btn-secondary' %>
  </div>
</div> 