<div class="container mt-4">
  <h1>Users</h1>

  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Subscribed</th>
            <th>Admin</th>
            <th>Topics</th>
            <th>Sources</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.is_subscribed? ? 'Yes' : 'No' %></td>
              <td><%= user.admin? ? 'Yes' : 'No' %></td>
              <td><%= user.topics.count %></td>
              <td><%= user.news_sources.count %></td>
              <td><%= user.created_at.strftime('%Y-%m-%d') %></td>
              <td>
                <%= link_to 'View', admin_user_path(user), class: 'btn btn-sm btn-info' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>