<h1>User: <%= @user.email %></h1>

<div class="card mb-4">
  <div class="card-header">
    <h3>User Details</h3>
  </div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Email:</dt>
      <dd class="col-sm-9"><%= @user.email %></dd>
      
      <dt class="col-sm-3">Sign Up Date:</dt>
      <dd class="col-sm-9"><%= @user.created_at.strftime('%B %d, %Y') %></dd>
      
      <% if User.column_names.include?('last_sign_in_at') %>
        <dt class="col-sm-3">Last Sign In:</dt>
        <dd class="col-sm-9"><%= @user.last_sign_in_at&.strftime('%B %d, %Y') || 'Never' %></dd>
      <% end %>
      
      <dt class="col-sm-3">Admin:</dt>
      <dd class="col-sm-9"><%= @user.admin? ? 'Yes' : 'No' %></dd>
    </dl>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3>User Preferences</h3>
  </div>
  <div class="card-body">
    <% if @preferences.present? %>
      <dl class="row">
        <dt class="col-sm-3">Topics:</dt>
        <dd class="col-sm-9">
          <% if @preferences.is_a?(Hash) && @preferences['topics'].present? %>
            <ul>
              <% @preferences['topics'].each do |topic| %>
                <li><%= topic %></li>
              <% end %>
            </ul>
          <% elsif @preferences.respond_to?(:topics) && @preferences.topics.present? %>
            <ul>
              <% @preferences.topics.each do |topic| %>
                <li><%= topic %></li>
              <% end %>
            </ul>
          <% else %>
            No topics selected
          <% end %>
        </dd>
        
        <dt class="col-sm-3">Email Frequency:</dt>
        <dd class="col-sm-9">
          <% if @preferences.is_a?(Hash) %>
            <%= @preferences['frequency'] || @preferences['email_frequency'] || 'Not set' %>
          <% elsif @preferences.respond_to?(:email_frequency) %>
            <%= @preferences.email_frequency || 'Not set' %>
          <% else %>
            Not set
          <% end %>
        </dd>
        
        <dt class="col-sm-3">Dark Mode:</dt>
        <dd class="col-sm-9">
          <% if @preferences.is_a?(Hash) %>
            <%= (@preferences['dark_mode'] || @preferences['dark_mode'] == true) ? 'Enabled' : 'Disabled' %>
          <% elsif @preferences.respond_to?(:dark_mode?) %>
            <%= @preferences.dark_mode? ? 'Enabled' : 'Disabled' %>
          <% else %>
            Disabled
          <% end %>
        </dd>
      </dl>
    <% else %>
      <p>No preferences set</p>
    <% end %>
  </div>
</div>

<div class="mt-3">
  <%= link_to 'Back to Users', admin_users_path, class: 'btn btn-secondary' %>
</div> 